@font-face {
	font-family: kepler-b;
	src: url(kepler-std/KeplerStd-BoldCapt.otf);
}

@font-face {
	font-family: kepler-bb;
	src: url(kepler-std/KeplerStd-BoldCapt.otf);
}

@font-face {
	font-family: AvenirNext-Bold;
	src: url(avenir/AvenirNext-Bold-01.ttf);
}

@font-face {
	font-family: AvenirNext-DemiBold;
	src: url(avenir/AvenirNext-DemiBold-03.ttf);
}

@font-face {
	font-family: AvenirNext-Medium;
	src: url(avenir/AvenirNext-Medium-06.ttf);
}

@font-face {
	font-family: AvenirNext-Regular;
	src: url(avenir/AvenirNext-Regular-08.ttf);
}

.question-container {
	padding: 4px;
	margin: 20px 0px;
}

.question-graphic {
	max-width: 100%;
	display: block;
}

.selected {
	background: #3CA8FF; 
	color: #fff !important;
}

.btn-container {
	text-align: center;
	margin: 40px 0px;
}

.btn {
	min-width: 144px;
	/*height: 40px;*/
	line-height: 18px;
	font-size: 18px;
	background: #467FEB;
	color: #fff;
	border: 2px #467FEB solid;
	border-radius: 8px;
	margin: 12px 40px;
	font-family: 'AvenirNext-Medium';
	padding: 12px 0px;
	display: inline-block;
}

.btn-inv {
	min-width: 144px;
	/*height: 40px;*/
	line-height: 18px;
	font-size: 18px;
	background: #fff;
	color: #467FEB;
	border: 2px #467FEB solid;
	border-radius: 8px;
	margin: 12px 40px;
	font-family: 'AvenirNext-Medium';
	padding: 12px 24px;
	display: inline-block;
	cursor: pointer;
}

#begin-btn:hover,
#begin-btn:focus,
#begin-btn:active {
	background: #2E5399;
	border: 2px #2E5399 solid;
	color: #fff;
}

#submit-btn:hover,
#submit-btn:focus,
#submit-btn:active {
	background: #2E5399;
	border: 2px #2E5399 solid;
	color: #fff;
}

#submit-none-btn:hover,
#submit-none-btn:focus,
#submit-none-btn:active {
	background: #2E5399;
	border: 2px #2E5399 solid;
	color: #fff;
}

#decline-btn {
	background: #fff;
	border: 2px #C42931 solid;
	color: #C42931;
}

#decline-btn:hover,
#decline-btn:focus,
#decline-btn:active {
	background: #C42931;
	border: 2px #C42931 solid;
	color: #fff;
}

p, li, label {
	font-family: 'AvenirNext-Medium';
	font-size: 1.2em;
	line-height: 1.5em;
}

h1 {
	margin: 24px 0px;
	font-family: 'kepler-b';
	font-size: 3.6em;
}


h2 {
	margin: 24px 0px;
	font-family: 'kepler-b';
	font-size: 2.4em;
}

h3 {
	margin-top: 16px;
	font-family: 'kepler-b';
	font-size: 2em;
}

h4 {
	font-family: 'kepler-b';
	font-size: 1.6em;
}

.margin-top-lg{
	margin-top: 120px;
}

.margin-btm-lg{
	margin-bottom: 120px;
}

.margin-top-md{
	margin-top: 64px;
}

.margin-top-sm{
	margin-top: 32px;
}

.margin-btm-md{
	margin-bottom: 64px;
}

#mturk-code {
	margin: 0px;
}

.code-container {
	padding: 8px;
	background-color: #cccccc;
	border-radius: 4px;
	text-align: center;
}

.col-lg-2, .col-sm-3 {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.highlight {
	background-color: #C0352A !important;
	color: #fff;
	padding: 0px 8px;
}

.highlight2 {
	background-color: #FFEBAB !important;
}

.condition-intro {
	display: none;
	/*visibility: none*/
}

img#payoff-img {
    max-height: 360px;
    max-width: 250px;
    margin: 0px 170px 0px 60px !important;
}

img.vis-desc {
    max-width: 420px;
    margin: 0px 0px 0px 60px !important;
}

.correct-label {
	font-size: 48px !important;
	color: green !important;
	position: absolute; top: 48px; right: 16px;
}

.incorrect-label {
	font-size: 48px !important;
	color: #C0352A !important;
	position: absolute; top: 48px; right: 16px;
}

.icon-correct {
	font-size: 1.2em !important;
	color: green !important;
	display: inline-flex;
    vertical-align: middle;
}

.icon-incorrect {
	font-size: 1.2em !important;
	color: #C0352A !important;
	display: inline-flex;
    vertical-align: middle;
}

p.region-label {
	text-align: center;
}
